@import './normalize.css';
@import './reset.css';
*, *::before, *::after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
* {
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.app {
    margin: 0 auto;
    overflow: hidden;
}
.home {
    position: relative;
}
#root, #__next {
    isolation: isolate;
}

/*@keyframes slidein {*/
/*    from {*/
/*        margin-left: 100%;*/
/*        width: 300%;*/
/*    }*/

/*    to {*/
/*        margin-left: 0%;*/
/*        width: 100%;*/
/*    }*/
/*}*/

 { animation: show 2s;
}

@keyframes show {

    from {opacity: 0;} to {opacity: 1;}
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter/inter-v8-latin-regular.woff2') format('woff2'),
    url('./fonts/inter/inter-v8-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('./fonts/gilroy/Gilroy-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('./fonts/gilroy/Gilroy-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('./fonts/gilroy/Gilroy-Bold.woff') format('woff');
}

